.dashboard-page {
  display: flex;
  flex-direction: column;
  height: calc(100% - 64px);

  .page-title-wrapper {
    margin-bottom: 3px;

    .page-title {
      padding: 10px 20px;
      width: 100%;

      svg {
        font-size: 1.2em;
        margin-right: 10px;
        vertical-align: bottom;
      }
    }
  }

  .loading {
    left: calc(50% - 20px);
    position: relative;
    top: 30%;
  }

  .page-content {
    overflow-y: auto;
    padding: 20px;
  }
}